table {
    text-align :  center ;
    border-collapse:"1" collapse;
    width: 100%;
    
  }

.titulo{
    background-color: #63456B;
}

.coluna{
    background-color: #dddddd;
}

.hora {
    background-color: rgb(255, 140, 105);
}