table {
    text-align :  center ;
    border-collapse:"1" collapse;
    width: 50%;
    
  }

  .lecoleco{
    font-size: 1em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .titulo{
    background-color:  #917b97;
  }

  .coluna{
    background-color:  #dddddd;
  }